public-hoist-pattern[]=lefthook
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=unbuild
public-hoist-pattern[]=unocss
public-hoist-pattern[]=dotenv
public-hoist-pattern[]=unplugin-vue-components
public-hoist-pattern[]=unplugin-vue-router
public-hoist-pattern[]=vite-plugin-vue-layouts-next

strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
